In [24]:
# %run "/Users/miguelflores/Desktop/TFM/Codigo/1. Librerias Mongo/MongoDB_Connections.ipynb"
# %run "/Users/miguelflores/Desktop/TFM/Codigo/1. Librerias Mongo/MongoDB_Funciones_Consultas.ipynb"

%run "../1. Librerias Mongo/MongoDB_Connections.ipynb"
%run "../1. Librerias Mongo/MongoDB_Funciones_Consultas.ipynb"


# from ipynb.fs.full.MongoDB_Connections import _connect_mongo

# from ipynb.fs.full.MongoDB_Funciones_Consultas import _resumen_mensual_por_anio
# from ipynb.fs.full.MongoDB_Funciones_Consultas import _data_anio
# from ipynb.fs.full.MongoDB_Funciones_Consultas import _data_anio_mes
# from ipynb.fs.full.MongoDB_Funciones_Consultas import _data_anio_por_estacion
# from ipynb.fs.full.MongoDB_Funciones_Consultas import _data_anio_mes_por_estacion

# from ipynb.fs.full.MongoDB_Funciones_Consultas import _consulta_meteo_full
# from ipynb.fs.full.MongoDB_Funciones_Consultas import _consulta_meteo_por_anio
# from ipynb.fs.full.MongoDB_Funciones_Consultas import _consulta_meteo_por_anio_mes

# from ipynb.fs.full.MongoDB_Funciones_Consultas import _consulta_stations
# from ipynb.fs.full.MongoDB_Funciones_Consultas import _consulta_stations_EstacionesMeteo

import time
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
# pd.options.display.float_format = '{:,}'.format

## Conexi√≥n a Mongo

In [25]:
db_Tracks = _connect_mongo('cloud', 'cluster0.15npsxw.mongodb.net', None, 'ucmtfm2022', 'UCM_2022', 'BiciMAD', 'Tracks_Demanda')
db_Meteo = _connect_mongo('cloud', 'cluster0.15npsxw.mongodb.net', None, 'ucmtfm2022', 'UCM_2022', 'BiciMAD', 'Meteo_NivelHora')
db_Stations = _connect_mongo('cloud', 'cluster0.15npsxw.mongodb.net', None, 'ucmtfm2022', 'UCM_2022', 'BiciMAD', 'Station_Master')
db_Stations_Meteo = _connect_mongo('cloud', 'cluster0.15npsxw.mongodb.net', None, 'ucmtfm2022', 'UCM_2022', 'BiciMAD', 'Station_EstacionMeteo')

Conexion OK
Collection(Database(MongoClient(host=['ac-x1d17w2-shard-00-00.15npsxw.mongodb.net:27017', 'ac-x1d17w2-shard-00-02.15npsxw.mongodb.net:27017', 'ac-x1d17w2-shard-00-01.15npsxw.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-xyv6ql-shard-0', tls=True, serverselectiontimeoutms=4000, tlscafile='C:\\ProgramData\\Anaconda3\\lib\\site-packages\\certifi\\cacert.pem'), 'BiciMAD'), 'Tracks_Demanda')
Conexion OK
Collection(Database(MongoClient(host=['ac-x1d17w2-shard-00-00.15npsxw.mongodb.net:27017', 'ac-x1d17w2-shard-00-02.15npsxw.mongodb.net:27017', 'ac-x1d17w2-shard-00-01.15npsxw.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-xyv6ql-shard-0', tls=True, serverselectiontimeoutms=4000, tlscafile='C:\\ProgramData\\Anaconda3\\lib\\site-packages\\certifi\\cacert.pem'), 'BiciMAD'), 'Meteo_NivelHora')
Conexion OK
Collection(Database(MongoClient(host=['ac-x1d17w2-shard-00-00.15npsxw.mongodb.net:27017', 'ac-x1d17w2-shard-00-02.15npsxw.mongodb.net:27017', 'ac-x1d17w2-shard-00-01.15npsxw.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-xyv6ql-shard-0', tls=True, serverselectiontimeoutms=4000, tlscafile='C:\\ProgramData\\Anaconda3\\lib\\site-packages\\certifi\\cacert.pem'), 'BiciMAD'), 'Station_Master')
Conexion OK
Collection(Database(MongoClient(host=['ac-x1d17w2-shard-00-00.15npsxw.mongodb.net:27017', 'ac-x1d17w2-shard-00-02.15npsxw.mongodb.net:27017', 'ac-x1d17w2-shard-00-01.15npsxw.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-xyv6ql-shard-0', tls=True, serverselectiontimeoutms=4000, tlscafile='C:\\ProgramData\\Anaconda3\\lib\\site-packages\\certifi\\cacert.pem'), 'BiciMAD'), 'Station_EstacionMeteo')

In [3]:
#data_Tracks.to_csv('/Users/miguelflores/Desktop/TFM/DataFullTracks_MongoDB.csv')

In [26]:
import time
import pandas as pd
import numpy as np

t_ini = time.time()
#data_Tracks = pd.read_csv('/Users/miguelflores/Desktop/TFM/DataFullTracks_MongoDB.csv')
#data_Tracks = pd.read_csv('C:/Users/fabio/GitHub/Python Notebooks/Data/DataTracks_MongoDB_2018-2020-Ene-Feb.csv', low_memory=False)
data_Tracks = pd.read_csv('../../Data/DataTracks_MongoDB_2018-2020-Ene-Feb.csv', parse_dates=['UNPLUG_TIME_date'])
t_end = time.time()
print (t_end - t_ini)

8.101206064224243

In [27]:
data_Tracks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8266481 entries, 0 to 8266480
Data columns (total 17 columns):
 #   Column            Dtype
---  ------            -----
 0   ANIO              int64
 1   MES               int64
 2   DIA               int64
 3   HORA              int64
 4   DIA_SEMANA        int64
 5   AM_PM             object
 6   TEMPORADA         object
 7   TEMPORADA_NUM     int64
 8   UNPLUG_TIME_date  datetime64[ns]
 9   travel_time       int64
 10  idunplug_station  int64
 11  user_type         int64
 12  ageRange          int64
 13  zip_code          object
 14  Es_Festivo        int64
 15  Es_FinSemana      int64
 16  DEMANDA           int64
dtypes: datetime64[ns](1), int64(13), object(3)
memory usage: 1.0+ GB

In [28]:
data_Tracks.shape

(8266481, 17)

In [29]:
data_Tracks

,ANIO,MES,DIA,HORA,DIA_SEMANA,AM_PM,TEMPORADA,TEMPORADA_NUM,UNPLUG_TIME_date,travel_time,idunplug_station,user_type,ageRange,zip_code,Es_Festivo,Es_FinSemana,DEMANDA
0,2018,1,10,0,4,AM,INVIERNO,1,2018-01-10 00:00:00,1023,102,1,3,28026,0,0,1
1,2018,1,10,0,4,AM,INVIERNO,1,2018-01-10 00:00:00,243,10,1,3,28007,0,0,1
2,2018,1,10,0,4,AM,INVIERNO,1,2018-01-10 00:00:00,780,110,1,0,NaN,0,0,1
3,2018,1,10,0,4,AM,INVIERNO,1,2018-01-10 00:00:00,452,111,1,3,28045,0,0,1
4,2018,1,10,0,4,AM,INVIERNO,1,2018-01-10 00:00:00,228,11,1,0,NaN,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8266476,2020,2,9,9,1,AM,INVIERNO,1,2020-02-09 09:00:00,192,9,1,0,NaN,0,1,1
8266477,2020,2,9,9,1,AM,INVIERNO,1,2020-02-09 09:00:00,695,92,1,4,28003.0,0,1,1
8266478,2020,2,9,9,1,AM,INVIERNO,1,2020-02-09 09:00:00,2738,9,1,0,NaN,0,1,1
8266479,2020,2,9,9,1,AM,INVIERNO,1,2020-02-09 09:00:00,1010,95,1,0,NaN,0,1,1
8266480,2020,2,9,9,1,AM,INVIERNO,1,2020-02-09 09:00:00,381,99,1,0,NaN,0,1,1

### Quitar User_type = 3 (Trabajador BICIMAD)

In [30]:
user_type_dif_3 = data_Tracks['user_type'] != 3
data_Tracks = data_Tracks[user_type_dif_3]
data_Tracks.shape

(7695387, 17)

In [31]:
data_Tracks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7695387 entries, 0 to 8266480
Data columns (total 17 columns):
 #   Column            Dtype
---  ------            -----
 0   ANIO              int64
 1   MES               int64
 2   DIA               int64
 3   HORA              int64
 4   DIA_SEMANA        int64
 5   AM_PM             object
 6   TEMPORADA         object
 7   TEMPORADA_NUM     int64
 8   UNPLUG_TIME_date  datetime64[ns]
 9   travel_time       int64
 10  idunplug_station  int64
 11  user_type         int64
 12  ageRange          int64
 13  zip_code          object
 14  Es_Festivo        int64
 15  Es_FinSemana      int64
 16  DEMANDA           int64
dtypes: datetime64[ns](1), int64(13), object(3)
memory usage: 1.0+ GB

## travel_time > 90 seg

In [32]:
user_travel = data_Tracks['travel_time'] > 90
data_Tracks = data_Tracks[user_travel]
data_Tracks.shape

(7689087, 17)

In [33]:
data_Tracks.rename(columns = {'idunplug_station':'ESTACION'}, inplace = True)
data_Tracks

,ANIO,MES,DIA,HORA,DIA_SEMANA,AM_PM,TEMPORADA,TEMPORADA_NUM,UNPLUG_TIME_date,travel_time,ESTACION,user_type,ageRange,zip_code,Es_Festivo,Es_FinSemana,DEMANDA
0,2018,1,10,0,4,AM,INVIERNO,1,2018-01-10 00:00:00,1023,102,1,3,28026,0,0,1
1,2018,1,10,0,4,AM,INVIERNO,1,2018-01-10 00:00:00,243,10,1,3,28007,0,0,1
2,2018,1,10,0,4,AM,INVIERNO,1,2018-01-10 00:00:00,780,110,1,0,NaN,0,0,1
3,2018,1,10,0,4,AM,INVIERNO,1,2018-01-10 00:00:00,452,111,1,3,28045,0,0,1
4,2018,1,10,0,4,AM,INVIERNO,1,2018-01-10 00:00:00,228,11,1,0,NaN,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8266476,2020,2,9,9,1,AM,INVIERNO,1,2020-02-09 09:00:00,192,9,1,0,NaN,0,1,1
8266477,2020,2,9,9,1,AM,INVIERNO,1,2020-02-09 09:00:00,695,92,1,4,28003.0,0,1,1
8266478,2020,2,9,9,1,AM,INVIERNO,1,2020-02-09 09:00:00,2738,9,1,0,NaN,0,1,1
8266479,2020,2,9,9,1,AM,INVIERNO,1,2020-02-09 09:00:00,1010,95,1,0,NaN,0,1,1
8266480,2020,2,9,9,1,AM,INVIERNO,1,2020-02-09 09:00:00,381,99,1,0,NaN,0,1,1

## Agrdupaci√≥n BBDD

In [34]:
data_final = data_Tracks[['ANIO','MES','DIA','HORA','ESTACION','DIA_SEMANA','AM_PM','TEMPORADA','TEMPORADA_NUM', 'Es_Festivo', 'Es_FinSemana','DEMANDA']]
data_final = data_final.groupby(['ANIO','MES','DIA','HORA','ESTACION','DIA_SEMANA','AM_PM','TEMPORADA','TEMPORADA_NUM', 'Es_Festivo', 'Es_FinSemana']).agg(DEMANDA=('DEMANDA', 'sum'))
data_final = data_final.reset_index()
data_final

,ANIO,MES,DIA,HORA,ESTACION,DIA_SEMANA,AM_PM,TEMPORADA,TEMPORADA_NUM,Es_Festivo,Es_FinSemana,DEMANDA
0,2018,1,1,0,6,2,AM,INVIERNO,1,1,0,2
1,2018,1,1,0,8,2,AM,INVIERNO,1,1,0,3
2,2018,1,1,0,9,2,AM,INVIERNO,1,1,0,5
3,2018,1,1,0,12,2,AM,INVIERNO,1,1,0,1
4,2018,1,1,0,15,2,AM,INVIERNO,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2240406,2020,2,29,23,214,7,PM,INVIERNO,1,0,1,2
2240407,2020,2,29,23,215,7,PM,INVIERNO,1,0,1,1
2240408,2020,2,29,23,216,7,PM,INVIERNO,1,0,1,1
2240409,2020,2,29,23,218,7,PM,INVIERNO,1,0,1,1
2240410,2020,2,29,23,219,7,PM,INVIERNO,1,0,1,3

### Creacion de campo FECHA

In [35]:
data_final['FECHA'] =pd.to_datetime({'year': data_final['ANIO'],
                                          'month': data_final["MES"]
                                          ,'day':  data_final['DIA']
                                          ,'hour':data_final['HORA']},
                                          format='%d-%m-%Y', errors='coerce')
data_final

,ANIO,MES,DIA,HORA,ESTACION,DIA_SEMANA,AM_PM,TEMPORADA,TEMPORADA_NUM,Es_Festivo,Es_FinSemana,DEMANDA,FECHA
0,2018,1,1,0,6,2,AM,INVIERNO,1,1,0,2,2018-01-01 00:00:00
1,2018,1,1,0,8,2,AM,INVIERNO,1,1,0,3,2018-01-01 00:00:00
2,2018,1,1,0,9,2,AM,INVIERNO,1,1,0,5,2018-01-01 00:00:00
3,2018,1,1,0,12,2,AM,INVIERNO,1,1,0,1,2018-01-01 00:00:00
4,2018,1,1,0,15,2,AM,INVIERNO,1,1,0,1,2018-01-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2240406,2020,2,29,23,214,7,PM,INVIERNO,1,0,1,2,2020-02-29 23:00:00
2240407,2020,2,29,23,215,7,PM,INVIERNO,1,0,1,1,2020-02-29 23:00:00
2240408,2020,2,29,23,216,7,PM,INVIERNO,1,0,1,1,2020-02-29 23:00:00
2240409,2020,2,29,23,218,7,PM,INVIERNO,1,0,1,1,2020-02-29 23:00:00
2240410,2020,2,29,23,219,7,PM,INVIERNO,1,0,1,3,2020-02-29 23:00:00

In [36]:
data_estaciones = data_final[['ESTACION','FECHA']]
data_estaciones = data_estaciones.groupby('ESTACION').agg({'FECHA': ['min', 'max']})
data_estaciones = data_estaciones.reset_index()
data_estaciones

    ESTACION               FECHA
                             min                 max
0          1 2018-01-01 07:00:00 2020-02-29 22:00:00
1          2 2018-01-01 15:00:00 2020-02-29 23:00:00
2          3 2018-01-01 05:00:00 2020-02-29 23:00:00
3          4 2018-01-01 03:00:00 2020-02-29 21:00:00
4          5 2018-01-01 02:00:00 2020-02-29 23:00:00
..       ...                 ...                 ...
212      216 2019-09-12 11:00:00 2020-02-29 23:00:00
213      217 2019-09-11 08:00:00 2020-02-29 22:00:00
214      218 2019-07-10 14:00:00 2020-02-29 23:00:00
215      219 2019-08-07 11:00:00 2020-02-29 23:00:00
216     2008 2018-01-18 08:00:00 2019-06-20 11:00:00

[217 rows x 3 columns]

### FILTRO 1: BUSQUEDA DE ESTACIONES CON MOVIMIENTOS MENORES A 1 A√ëO

In [37]:
#data_estaciones = pd.read_csv('C:/Users/fabio/GitHub/Python Notebooks/Data/Data_Estaciones_desde_Movs.csv')
data_estaciones = pd.read_csv('../../Data/Data_Estaciones_desde_Movs.csv')

In [38]:
data_estaciones['min'] = pd.to_datetime(data_estaciones['min'])
data_estaciones['max'] = pd.to_datetime(data_estaciones['max'])

In [39]:
data_estaciones['Diferencia'] = (data_estaciones["max"] - data_estaciones["min"]).dt.days
data_estaciones

     ESTACION                 min                 max  Diferencia
0           1 2018-01-01 07:00:00 2020-02-29 22:00:00         789
1           2 2018-01-01 15:00:00 2020-02-29 23:00:00         789
2           3 2018-01-01 05:00:00 2020-02-29 23:00:00         789
3           4 2018-01-01 03:00:00 2020-02-29 21:00:00         789
4           5 2018-01-01 02:00:00 2020-02-29 23:00:00         789
..        ...                 ...                 ...         ...
209       215 2019-01-08 03:00:00 2020-02-29 23:00:00         417
210       216 2019-12-09 11:00:00 2020-02-29 23:00:00          82
211       217 2019-11-09 08:00:00 2020-02-29 22:00:00         112
212       218 2019-10-07 14:00:00 2020-02-29 23:00:00         145
213       219 2019-07-08 11:00:00 2020-02-29 23:00:00         236

[214 rows x 4 columns]

In [40]:
data_estaciones_incompleta = data_estaciones[data_estaciones['Diferencia'] < 789]
print(data_estaciones_incompleta.shape)
data_estaciones_incompleta.sort_values('Diferencia', ascending=False)

(47, 4)

     ESTACION                 min                 max  Diferencia
24         28 2018-10-01 13:00:00 2020-02-29 19:00:00         516
25         29 2018-10-01 12:00:00 2020-02-29 21:00:00         516
28         32 2018-01-01 15:00:00 2019-04-03 23:00:00         457
172       178 2019-01-07 08:00:00 2020-02-29 23:00:00         418
173       179 2019-01-07 01:00:00 2020-02-29 23:00:00         418
189       195 2019-01-07 14:00:00 2020-02-29 20:00:00         418
185       191 2019-01-07 05:00:00 2020-02-29 20:00:00         418
192       198 2019-01-08 06:00:00 2020-02-29 23:00:00         417
209       215 2019-01-08 03:00:00 2020-02-29 23:00:00         417
186       192 2019-01-08 05:00:00 2020-02-29 22:00:00         417
187       193 2019-01-08 05:00:00 2020-02-29 21:00:00         417
193       199 2019-01-08 02:00:00 2020-02-29 21:00:00         417
199       205 2019-04-07 17:00:00 2020-02-29 22:00:00         328
202       208 2019-04-09 12:00:00 2020-02-29 23:00:00         326
198       204 2019-04-10 16:00:00 2020-02-29 23:00:00         325
200       206 2019-04-10 11:00:00 2020-02-29 23:00:00         325
205       211 2019-05-23 09:00:00 2020-02-29 22:00:00         282
184       190 2019-05-23 16:00:00 2020-02-29 23:00:00         282
190       196 2019-06-09 09:00:00 2020-02-29 21:00:00         265
207       213 2019-06-13 13:00:00 2020-02-29 21:00:00         261
201       207 2019-06-20 10:00:00 2020-02-29 22:00:00         254
177       183 2019-06-20 12:00:00 2020-02-29 22:00:00         254
183       189 2019-07-06 11:00:00 2020-02-29 23:00:00         238
178       184 2019-07-06 11:00:00 2020-02-29 20:00:00         238
213       219 2019-07-08 11:00:00 2020-02-29 23:00:00         236
206       212 2019-07-31 17:00:00 2020-02-29 22:00:00         213
175       181 2019-08-19 08:00:00 2020-02-29 23:00:00         194
171       177 2019-08-19 10:00:00 2020-02-29 23:00:00         194
176       182 2019-08-20 07:00:00 2020-02-29 23:00:00         193
204       210 2019-08-21 09:00:00 2020-02-29 21:00:00         192
182       188 2019-09-09 11:00:00 2020-02-29 21:00:00         173
181       187 2019-09-09 10:00:00 2020-02-29 23:00:00         173
170       176 2019-09-20 11:00:00 2020-02-29 22:00:00         162
188       194 2019-09-20 11:00:00 2020-02-29 21:00:00         162
197       203 2019-09-27 09:00:00 2020-02-29 21:00:00         155
174       180 2019-09-27 11:00:00 2020-02-29 23:00:00         155
194       200 2019-10-06 12:00:00 2020-02-29 21:00:00         146
212       218 2019-10-07 14:00:00 2020-02-29 23:00:00         145
203       209 2019-10-16 08:00:00 2020-02-29 21:00:00         136
195       201 2019-11-06 13:00:00 2020-02-29 21:00:00         115
179       185 2019-11-06 08:00:00 2020-02-29 22:00:00         115
208       214 2019-11-09 09:00:00 2020-02-29 23:00:00         112
211       217 2019-11-09 08:00:00 2020-02-29 22:00:00         112
191       197 2019-11-10 13:00:00 2020-02-29 21:00:00         111
196       202 2019-12-09 11:00:00 2020-02-29 23:00:00          82
210       216 2019-12-09 11:00:00 2020-02-29 23:00:00          82
180       186 2020-02-18 15:00:00 2020-02-29 22:00:00          11

In [41]:
data_estaciones_incompleta[data_estaciones_incompleta['Diferencia']<365].shape

(35, 4)

In [42]:
# FILTRO: SE ELIMINAN ESTACIONES CON MENOS DE 365 DIAS DE MOVIMIENTOS
# ESTACIONES CORRECTAS: 179

df_estaciones_365 = data_estaciones[data_estaciones['Diferencia']>=365]['ESTACION']
df_estaciones_365

0        1
1        2
2        3
3        4
4        5
      ...
187    193
189    195
192    198
193    199
209    215
Name: ESTACION, Length: 179, dtype: int64

In [43]:
# Eliminaci√≥n de movimientos para estaciones que no tengan mas de 365 dias
# Join con DF de estaciones cargado anteriormente

data_final = pd.merge(data_final, data_estaciones, how='left', left_on='ESTACION', right_on='ESTACION')
data_final

,ANIO,MES,DIA,HORA,ESTACION,DIA_SEMANA,AM_PM,TEMPORADA,TEMPORADA_NUM,Es_Festivo,Es_FinSemana,DEMANDA,FECHA,min,max,Diferencia
0,2018,1,1,0,6,2,AM,INVIERNO,1,1,0,2,2018-01-01 00:00:00,2018-01-01 02:00:00,2020-02-29 23:00:00,789.0
1,2018,1,1,0,8,2,AM,INVIERNO,1,1,0,3,2018-01-01 00:00:00,2018-01-01 02:00:00,2020-02-29 23:00:00,789.0
2,2018,1,1,0,9,2,AM,INVIERNO,1,1,0,5,2018-01-01 00:00:00,2018-01-01 01:00:00,2020-02-29 23:00:00,789.0
3,2018,1,1,0,12,2,AM,INVIERNO,1,1,0,1,2018-01-01 00:00:00,2018-01-01 02:00:00,2020-02-29 23:00:00,789.0
4,2018,1,1,0,15,2,AM,INVIERNO,1,1,0,1,2018-01-01 00:00:00,2018-01-01 01:00:00,2020-02-29 23:00:00,789.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2240406,2020,2,29,23,214,7,PM,INVIERNO,1,0,1,2,2020-02-29 23:00:00,2019-11-09 09:00:00,2020-02-29 23:00:00,112.0
2240407,2020,2,29,23,215,7,PM,INVIERNO,1,0,1,1,2020-02-29 23:00:00,2019-01-08 03:00:00,2020-02-29 23:00:00,417.0
2240408,2020,2,29,23,216,7,PM,INVIERNO,1,0,1,1,2020-02-29 23:00:00,2019-12-09 11:00:00,2020-02-29 23:00:00,82.0
2240409,2020,2,29,23,218,7,PM,INVIERNO,1,0,1,1,2020-02-29 23:00:00,2019-10-07 14:00:00,2020-02-29 23:00:00,145.0
2240410,2020,2,29,23,219,7,PM,INVIERNO,1,0,1,3,2020-02-29 23:00:00,2019-07-08 11:00:00,2020-02-29 23:00:00,236.0

In [44]:
# Filtro con estaciones con menos de 1 a√±o de datos

data_final = data_final[data_final['Diferencia']>=365]
data_final

,ANIO,MES,DIA,HORA,ESTACION,DIA_SEMANA,AM_PM,TEMPORADA,TEMPORADA_NUM,Es_Festivo,Es_FinSemana,DEMANDA,FECHA,min,max,Diferencia
0,2018,1,1,0,6,2,AM,INVIERNO,1,1,0,2,2018-01-01 00:00:00,2018-01-01 02:00:00,2020-02-29 23:00:00,789.0
1,2018,1,1,0,8,2,AM,INVIERNO,1,1,0,3,2018-01-01 00:00:00,2018-01-01 02:00:00,2020-02-29 23:00:00,789.0
2,2018,1,1,0,9,2,AM,INVIERNO,1,1,0,5,2018-01-01 00:00:00,2018-01-01 01:00:00,2020-02-29 23:00:00,789.0
3,2018,1,1,0,12,2,AM,INVIERNO,1,1,0,1,2018-01-01 00:00:00,2018-01-01 02:00:00,2020-02-29 23:00:00,789.0
4,2018,1,1,0,15,2,AM,INVIERNO,1,1,0,1,2018-01-01 00:00:00,2018-01-01 01:00:00,2020-02-29 23:00:00,789.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2240391,2020,2,29,23,175,7,PM,INVIERNO,1,0,1,6,2020-02-29 23:00:00,2018-01-01 02:00:00,2020-02-29 23:00:00,789.0
2240393,2020,2,29,23,178,7,PM,INVIERNO,1,0,1,1,2020-02-29 23:00:00,2019-01-07 08:00:00,2020-02-29 23:00:00,418.0
2240394,2020,2,29,23,179,7,PM,INVIERNO,1,0,1,1,2020-02-29 23:00:00,2019-01-07 01:00:00,2020-02-29 23:00:00,418.0
2240401,2020,2,29,23,198,7,PM,INVIERNO,1,0,1,3,2020-02-29 23:00:00,2019-01-08 06:00:00,2020-02-29 23:00:00,417.0
2240407,2020,2,29,23,215,7,PM,INVIERNO,1,0,1,1,2020-02-29 23:00:00,2019-01-08 03:00:00,2020-02-29 23:00:00,417.0

In [45]:
data_final.groupby('ESTACION').agg(DEMANDA=('DEMANDA', 'count')) # Validaci√≥n de 179 estaciones

          DEMANDA
ESTACION
1           13912
2            9586
3           14462
4           11690
5           12880
...           ...
193          2178
195          3083
198          2822
199          2429
215          2459

[179 rows x 1 columns]

In [46]:
#Eliminaci√≥n de columnas usadas como auxiliares

data_final = data_final.drop(columns=['min', 'max', 'Diferencia'], axis=1)
data_final

,ANIO,MES,DIA,HORA,ESTACION,DIA_SEMANA,AM_PM,TEMPORADA,TEMPORADA_NUM,Es_Festivo,Es_FinSemana,DEMANDA,FECHA
0,2018,1,1,0,6,2,AM,INVIERNO,1,1,0,2,2018-01-01 00:00:00
1,2018,1,1,0,8,2,AM,INVIERNO,1,1,0,3,2018-01-01 00:00:00
2,2018,1,1,0,9,2,AM,INVIERNO,1,1,0,5,2018-01-01 00:00:00
3,2018,1,1,0,12,2,AM,INVIERNO,1,1,0,1,2018-01-01 00:00:00
4,2018,1,1,0,15,2,AM,INVIERNO,1,1,0,1,2018-01-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2240391,2020,2,29,23,175,7,PM,INVIERNO,1,0,1,6,2020-02-29 23:00:00
2240393,2020,2,29,23,178,7,PM,INVIERNO,1,0,1,1,2020-02-29 23:00:00
2240394,2020,2,29,23,179,7,PM,INVIERNO,1,0,1,1,2020-02-29 23:00:00
2240401,2020,2,29,23,198,7,PM,INVIERNO,1,0,1,3,2020-02-29 23:00:00
2240407,2020,2,29,23,215,7,PM,INVIERNO,1,0,1,1,2020-02-29 23:00:00

In [47]:
# Se guarda DF final SIN METEOROLOGIA
data_final.to_csv('../../Data/DataFrame_Final_SinMeteo.csv')

In [48]:
data_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2142248 entries, 0 to 2240407
Data columns (total 13 columns):
 #   Column         Dtype
---  ------         -----
 0   ANIO           int64
 1   MES            int64
 2   DIA            int64
 3   HORA           int64
 4   ESTACION       int64
 5   DIA_SEMANA     int64
 6   AM_PM          object
 7   TEMPORADA      object
 8   TEMPORADA_NUM  int64
 9   Es_Festivo     int64
 10  Es_FinSemana   int64
 11  DEMANDA        int64
 12  FECHA          datetime64[ns]
dtypes: datetime64[ns](1), int64(10), object(2)
memory usage: 228.8+ MB

### INCORPORACION DE VARIABLES METEOROLOGICAS

In [49]:
db_Meteo = _connect_mongo('cloud', 'cluster0.15npsxw.mongodb.net', None, 'ucmtfm2022', 'UCM_2022', 'BiciMAD', 'Meteo_US_NivelHora')

Conexion OK
Collection(Database(MongoClient(host=['ac-x1d17w2-shard-00-00.15npsxw.mongodb.net:27017', 'ac-x1d17w2-shard-00-02.15npsxw.mongodb.net:27017', 'ac-x1d17w2-shard-00-01.15npsxw.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-xyv6ql-shard-0', tls=True, serverselectiontimeoutms=4000, tlscafile='C:\\ProgramData\\Anaconda3\\lib\\site-packages\\certifi\\cacert.pem'), 'BiciMAD'), 'Meteo_US_NivelHora')

In [50]:
# Meteorologia
t_ini = time.time()
data_Meteo = _consulta_meteoUS_full(db_Meteo)
t_end = time.time()

print (t_end - t_ini)
data_Meteo.info()

10.147180080413818
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26304 entries, 0 to 26303
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ANIO                 26304 non-null  int64
 1   MES                  26304 non-null  int64
 2   DIA                  26304 non-null  int64
 3   HORA                 26304 non-null  int64
 4   TEMPERATURA          26304 non-null  object
 5   TEMP_SENS_TERMC      26304 non-null  object
 6   VIENTO               26304 non-null  object
 7   PRESION              26304 non-null  object
 8   HUMEDAD              26304 non-null  object
 9   PRECIPITACION_1h     26304 non-null  object
 10  PRECIPITACION_3h     26304 non-null  object
 11  NIEVE_1h             26304 non-null  object
 12  NIEVE_3h             26304 non-null  int64
 13  ID_TIPO_TIEMPO       26304 non-null  object
 14  DESC_TIEMPO          26304 non-null  object
 15  DESC_TIEMPO_detalle  26304 non-null  object
dtypes: int64(5), object(11)
memory usage: 3.2+ MB

In [51]:
data_Meteo.shape

(26304, 16)

In [56]:
data_Meteo

,ANIO,MES,DIA,HORA,TEMPERATURA,TEMP_SENS_TERMC,VIENTO,PRESION,HUMEDAD,PRECIPITACION_1h,PRECIPITACION_3h,NIEVE_1h,NIEVE_3h,ID_TIPO_TIEMPO,DESC_TIEMPO,DESC_TIEMPO_detalle
0,2018,1,1,0,6.63,3.08,5.7,1031,56,0,0,0,0,800,Clear,sky is clear
1,2018,1,1,1,6.47,2.88,5.7,1031,55,0,0,0,0,800,Clear,sky is clear
2,2018,1,1,2,5.58,2.11,4.9,1031,60,0,0,0,0,800,Clear,sky is clear
3,2018,1,1,3,6.58,2.48,7.2,1030,59,0,0,0,0,800,Clear,sky is clear
4,2018,1,1,4,5.14,1.69,4.63,1032,57,0,0,0,0,800,Clear,sky is clear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26299,2020,12,31,19,5.25,0.59,7.7,1011,90,0,0,0,0,804,Clouds,overcast clouds
26300,2020,12,31,20,5.23,1.11,6.2,1011,90,0,0,0,0,804,Clouds,overcast clouds
26301,2020,12,31,21,5.23,0.92,6.7,1010,89,0,0,0,0,804,Clouds,overcast clouds
26302,2020,12,31,22,4.61,0.48,5.81,1010,90,0.75,0,0,0,500,Rain,light rain
26303,2020,12,31,23,3.63,-0.93,6.2,1010,87,0.1,0,0,0,800,Clear,sky is clear

In [32]:
# #data_final_respaldo = data_final.copy()
# data_final = data_final_respaldo.copy()
# data_final.shape

In [52]:
# MERGE entre datos de tracks y meteorologia

data_final = pd.merge(data_final, data_Meteo, how='left', left_on=['ANIO','MES','DIA','HORA'],
                      right_on=['ANIO','MES','DIA','HORA'])

In [53]:
data_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2142248 entries, 0 to 2142247
Data columns (total 25 columns):
 #   Column               Dtype
---  ------               -----
 0   ANIO                 int64
 1   MES                  int64
 2   DIA                  int64
 3   HORA                 int64
 4   ESTACION             int64
 5   DIA_SEMANA           int64
 6   AM_PM                object
 7   TEMPORADA            object
 8   TEMPORADA_NUM        int64
 9   Es_Festivo           int64
 10  Es_FinSemana         int64
 11  DEMANDA              int64
 12  FECHA                datetime64[ns]
 13  TEMPERATURA          object
 14  TEMP_SENS_TERMC      object
 15  VIENTO               object
 16  PRESION              object
 17  HUMEDAD              object
 18  PRECIPITACION_1h     object
 19  PRECIPITACION_3h     object
 20  NIEVE_1h             object
 21  NIEVE_3h             int64
 22  ID_TIPO_TIEMPO       object
 23  DESC_TIEMPO          object
 24  DESC_TIEMPO_detalle  object
dtypes: datetime64[ns](1), int64(11), object(13)
memory usage: 424.9+ MB

In [54]:
# ELIMINACION DE VARIABLES INNECESARIAS
data_final = data_final.drop(columns=['TEMP_SENS_TERMC', 'NIEVE_1h', 'NIEVE_3h','ID_TIPO_TIEMPO'], axis=1)

In [55]:
data_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2142248 entries, 0 to 2142247
Data columns (total 21 columns):
 #   Column               Dtype
---  ------               -----
 0   ANIO                 int64
 1   MES                  int64
 2   DIA                  int64
 3   HORA                 int64
 4   ESTACION             int64
 5   DIA_SEMANA           int64
 6   AM_PM                object
 7   TEMPORADA            object
 8   TEMPORADA_NUM        int64
 9   Es_Festivo           int64
 10  Es_FinSemana         int64
 11  DEMANDA              int64
 12  FECHA                datetime64[ns]
 13  TEMPERATURA          object
 14  VIENTO               object
 15  PRESION              object
 16  HUMEDAD              object
 17  PRECIPITACION_1h     object
 18  PRECIPITACION_3h     object
 19  DESC_TIEMPO          object
 20  DESC_TIEMPO_detalle  object
dtypes: datetime64[ns](1), int64(10), object(10)
memory usage: 359.6+ MB

In [57]:
"""Chequear los valores registros nulos"""
print("Valores nulos:")
print(data_final.isnull().sum())

Valores nulos:
ANIO                   0
MES                    0
DIA                    0
HORA                   0
ESTACION               0
DIA_SEMANA             0
AM_PM                  0
TEMPORADA              0
TEMPORADA_NUM          0
Es_Festivo             0
Es_FinSemana           0
DEMANDA                0
FECHA                  0
TEMPERATURA            0
VIENTO                 0
PRESION                0
HUMEDAD                0
PRECIPITACION_1h       0
PRECIPITACION_3h       0
DESC_TIEMPO            0
DESC_TIEMPO_detalle    0
dtype: int64

In [58]:
data_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2142248 entries, 0 to 2142247
Data columns (total 21 columns):
 #   Column               Dtype
---  ------               -----
 0   ANIO                 int64
 1   MES                  int64
 2   DIA                  int64
 3   HORA                 int64
 4   ESTACION             int64
 5   DIA_SEMANA           int64
 6   AM_PM                object
 7   TEMPORADA            object
 8   TEMPORADA_NUM        int64
 9   Es_Festivo           int64
 10  Es_FinSemana         int64
 11  DEMANDA              int64
 12  FECHA                datetime64[ns]
 13  TEMPERATURA          object
 14  VIENTO               object
 15  PRESION              object
 16  HUMEDAD              object
 17  PRECIPITACION_1h     object
 18  PRECIPITACION_3h     object
 19  DESC_TIEMPO          object
 20  DESC_TIEMPO_detalle  object
dtypes: datetime64[ns](1), int64(10), object(10)
memory usage: 359.6+ MB

In [59]:
# REORDENAMIENTO DE COLUMNAS PREVIO A EXPORT

data_final_cierre = data_final[['ESTACION', 'ANIO', 'MES', 'DIA', 'HORA', 'FECHA', 'DIA_SEMANA', 'AM_PM', 'TEMPORADA', 'TEMPORADA_NUM', 
                                'Es_Festivo', 'Es_FinSemana', 'TEMPERATURA', 'VIENTO', 'PRESION', 'HUMEDAD', 'PRECIPITACION_1h', 
                                'PRECIPITACION_3h', 'DESC_TIEMPO', 'DESC_TIEMPO_detalle', 'DEMANDA']]
data_final_cierre

,ESTACION,ANIO,MES,DIA,HORA,FECHA,DIA_SEMANA,AM_PM,TEMPORADA,TEMPORADA_NUM,...,Es_FinSemana,TEMPERATURA,VIENTO,PRESION,HUMEDAD,PRECIPITACION_1h,PRECIPITACION_3h,DESC_TIEMPO,DESC_TIEMPO_detalle,DEMANDA
0,6,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,0,6.63,5.7,1031,56,0,0,Clear,sky is clear,2
1,8,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,0,6.63,5.7,1031,56,0,0,Clear,sky is clear,3
2,9,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,0,6.63,5.7,1031,56,0,0,Clear,sky is clear,5
3,12,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,0,6.63,5.7,1031,56,0,0,Clear,sky is clear,1
4,15,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,0,6.63,5.7,1031,56,0,0,Clear,sky is clear,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2142243,175,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,1,9.6,6.2,1015,69,0,0,Clouds,few clouds,6
2142244,178,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,1,9.6,6.2,1015,69,0,0,Clouds,few clouds,1
2142245,179,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,1,9.6,6.2,1015,69,0,0,Clouds,few clouds,1
2142246,198,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,1,9.6,6.2,1015,69,0,0,Clouds,few clouds,3
2142247,215,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,1,9.6,6.2,1015,69,0,0,Clouds,few clouds,1

In [60]:
# DataFrame Final

data_final_cierre.to_csv('../../Data/DataFrame_Final_Cierre.csv', index=False)

In [61]:
test = pd.read_csv('../../data/DataFrame_Final_Cierre.csv', parse_dates=['FECHA'])

In [62]:
test

,ESTACION,ANIO,MES,DIA,HORA,FECHA,DIA_SEMANA,AM_PM,TEMPORADA,TEMPORADA_NUM,...,Es_FinSemana,TEMPERATURA,VIENTO,PRESION,HUMEDAD,PRECIPITACION_1h,PRECIPITACION_3h,DESC_TIEMPO,DESC_TIEMPO_detalle,DEMANDA
0,6,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,0,6.63,5.7,1031,56,0.0,0.0,Clear,sky is clear,2
1,8,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,0,6.63,5.7,1031,56,0.0,0.0,Clear,sky is clear,3
2,9,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,0,6.63,5.7,1031,56,0.0,0.0,Clear,sky is clear,5
3,12,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,0,6.63,5.7,1031,56,0.0,0.0,Clear,sky is clear,1
4,15,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,0,6.63,5.7,1031,56,0.0,0.0,Clear,sky is clear,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2142243,175,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,1,9.60,6.2,1015,69,0.0,0.0,Clouds,few clouds,6
2142244,178,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,1,9.60,6.2,1015,69,0.0,0.0,Clouds,few clouds,1
2142245,179,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,1,9.60,6.2,1015,69,0.0,0.0,Clouds,few clouds,1
2142246,198,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,1,9.60,6.2,1015,69,0.0,0.0,Clouds,few clouds,3
2142247,215,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,1,9.60,6.2,1015,69,0.0,0.0,Clouds,few clouds,1