In [1]:
import time
import pandas as pd

from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.metrics import silhouette_score, adjusted_rand_score
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

%run "../1. Librerias Mongo/MongoDB_Connections.ipynb"
%run "../1. Librerias Mongo/MongoDB_Funciones_Consultas.ipynb"

### TRACKS

In [2]:
t_ini = time.time()
#data_Tracks = pd.read_csv('../DATA/DataTracks_Final_2018-2020.csv')
data_Tracks = pd.read_csv('../../Data/DataFrame_Final_Cierre.csv', parse_dates=['FECHA'])
t_end = time.time()
print (t_end - t_ini)

data_Tracks.shape

2.0818655490875244

(2142248, 21)

In [3]:
data_Tracks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2142248 entries, 0 to 2142247
Data columns (total 21 columns):
 #   Column               Dtype
---  ------               -----
 0   ESTACION             int64
 1   ANIO                 int64
 2   MES                  int64
 3   DIA                  int64
 4   HORA                 int64
 5   FECHA                datetime64[ns]
 6   DIA_SEMANA           int64
 7   AM_PM                object
 8   TEMPORADA            object
 9   TEMPORADA_NUM        int64
 10  Es_Festivo           int64
 11  Es_FinSemana         int64
 12  TEMPERATURA          float64
 13  VIENTO               float64
 14  PRESION              int64
 15  HUMEDAD              int64
 16  PRECIPITACION_1h     float64
 17  PRECIPITACION_3h     float64
 18  DESC_TIEMPO          object
 19  DESC_TIEMPO_detalle  object
 20  DEMANDA              int64
dtypes: datetime64[ns](1), float64(4), int64(12), object(4)
memory usage: 343.2+ MB

In [4]:
data_Tracks.groupby('ESTACION').agg(DEMANDA=('DEMANDA', 'sum'), CUENTA=('DEMANDA', 'count'))

          DEMANDA  CUENTA
ESTACION
1           63706   13912
2           28020    9586
3           52275   14462
4           35135   11690
5           32312   12880
...           ...     ...
193          4886    2178
195          6734    3083
198          7137    2822
199          6078    2429
215          4857    2459

[179 rows x 2 columns]

In [5]:
data_Tracks.groupby('ANIO').agg(DEMANDA=('DEMANDA', 'sum'))

      DEMANDA
ANIO
2018  3376743
2019  3690015
2020   492204

In [6]:
data_Tracks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2142248 entries, 0 to 2142247
Data columns (total 21 columns):
 #   Column               Dtype
---  ------               -----
 0   ESTACION             int64
 1   ANIO                 int64
 2   MES                  int64
 3   DIA                  int64
 4   HORA                 int64
 5   FECHA                datetime64[ns]
 6   DIA_SEMANA           int64
 7   AM_PM                object
 8   TEMPORADA            object
 9   TEMPORADA_NUM        int64
 10  Es_Festivo           int64
 11  Es_FinSemana         int64
 12  TEMPERATURA          float64
 13  VIENTO               float64
 14  PRESION              int64
 15  HUMEDAD              int64
 16  PRECIPITACION_1h     float64
 17  PRECIPITACION_3h     float64
 18  DESC_TIEMPO          object
 19  DESC_TIEMPO_detalle  object
 20  DEMANDA              int64
dtypes: datetime64[ns](1), float64(4), int64(12), object(4)
memory usage: 343.2+ MB

### DEMOGRAFIA

In [7]:
# DEMOGRAFIA
db_DemoG = _connect_mongo('cloud', 'cluster0.15npsxw.mongodb.net', None, 'ucmtfm2022', 'UCM_2022', 'BiciMAD', 'Demografia')
data_Demografia = _consulta_Demografia(db_DemoG)
data_Demografia

Conexion OK
Collection(Database(MongoClient(host=['ac-x1d17w2-shard-00-02.15npsxw.mongodb.net:27017', 'ac-x1d17w2-shard-00-01.15npsxw.mongodb.net:27017', 'ac-x1d17w2-shard-00-00.15npsxw.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-xyv6ql-shard-0', tls=True, serverselectiontimeoutms=4000, tlscafile='C:\\ProgramData\\Anaconda3\\lib\\site-packages\\certifi\\cacert.pem'), 'BiciMAD'), 'Demografia')

,Distrito,Distrito_Nombre,Barrio,Barrio_Nombre,Tasa_Paro,Renta_Media_Persona,Renta_Media_Hogar,Poblacion
0,1,Centro,01-03,Cortes,"4,087029691","20947,0742","40962,5241",10760
1,1,Centro,01-01,Palacio,"5,675629192","19443,00705","38973,53727",23708
2,1,Centro,01-05,Universidad,"4,283483014","17882,22351","35344,22565",33434
3,3,Retiro,03-01,Pacifico,"4,228419906","19527,32758","44831,75729",33879
4,3,Retiro,03-03,Estrella,"3,593663803","23696,69349","63495,10119",23504
...,...,...,...,...,...,...,...,...
126,19,Vicalvaro,19-02,Valdebernardo,"7,433348396","14438,77896","41477,93538",17851
127,20,San Blas - Canillejas,20-01,Simancas,"5,999410377","13298,0422","33592,67455",28799
128,20,San Blas - Canillejas,20-08,El Salvador,"4,93547958","21719,06345","57319,67856",11516
129,21,Barajas,21-02,Aeropuerto,"5,705474171",10330,27316,1911
130,21,Barajas,21-03,Casco Historico de Barajas,"4,983581225","12948,53301","31625,64535",7735

In [8]:
data_Demografia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131 entries, 0 to 130
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Distrito             131 non-null    int64
 1   Distrito_Nombre      131 non-null    object
 2   Barrio               131 non-null    object
 3   Barrio_Nombre        131 non-null    object
 4   Tasa_Paro            131 non-null    object
 5   Renta_Media_Persona  131 non-null    object
 6   Renta_Media_Hogar    131 non-null    object
 7   Poblacion            131 non-null    int64
dtypes: int64(2), object(6)
memory usage: 8.3+ KB

### ESTACIONES

In [9]:
db_Stations = _connect_mongo('cloud', 'cluster0.15npsxw.mongodb.net', None, 'ucmtfm2022', 'UCM_2022', 'BiciMAD', 'Estaciones')
data_Stations = _consulta_stations(db_Stations)

data_Stations = data_Stations.drop(columns='Finca')

data_Stations

Conexion OK
Collection(Database(MongoClient(host=['ac-x1d17w2-shard-00-01.15npsxw.mongodb.net:27017', 'ac-x1d17w2-shard-00-02.15npsxw.mongodb.net:27017', 'ac-x1d17w2-shard-00-00.15npsxw.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-xyv6ql-shard-0', tls=True, serverselectiontimeoutms=4000, tlscafile='C:\\ProgramData\\Anaconda3\\lib\\site-packages\\certifi\\cacert.pem'), 'BiciMAD'), 'Estaciones')

,Id_Estacion,Nro_Estacion,Gis_X,Gis_Y,Fec_Alta,Distrito,Distrito_Nombre,Barrio,Barrio_Nombre,Calle,Tipo_Reserva,Plazas,Longitud,Latitud,Direccion
0,1,001 a,"440443,61","4474290,65",43803,1,CENTRO,01-06,SOL,"ALCALA, CALLE, DE",BiciMAD,30,-3.701998,40.417111,"ALCALA, CALLE, DE, 2"
1,6,5,"440447,06","4475539,6",41813,1,CENTRO,01-04,JUSTICIA,"FUENCARRAL, CALLE, DE",BiciMAD,27,-3.702074,40.428362,"FUENCARRAL, CALLE, DE, 106"
2,15,14,"439486,2","4475284,13",44045,9,MONCLOA-ARAVACA,09-02,ARGUELLES,"VENTURA RODRIGUEZ, CALLE, DE",BiciMAD,24,-3.713377,40.425991,"VENTURA RODRIGUEZ, CALLE, DE, 1"
3,16,15,"439996,77","4475313,59",43881,1,CENTRO,01-05,UNIVERSIDAD,"NORTE, CALLE, DEL",BiciMAD,21,-3.707361,40.426294,"NORTE, CALLE, DEL, 10"
4,21,020 ampliacion,"441014,52","4474516,49",43291,1,CENTRO,01-04,JUSTICIA,"ALCALA, CALLE, DE",BiciMAD,6,-3.695290,40.419186,"ALCALA, CALLE, DE, 49"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,238,230,"444952,82","4477207,59",44181,15,CIUDAD LINEAL,15-05,SAN PASCUAL,"CARLOTA O'NEILL, CALLE, DE",BiciMAD,24,-3.649103,40.443699,"CARLOTA O'NEILL, CALLE, DE, 32"
260,244,236,"439149,84","4473225,71",44181,2,ARGANZUELA,02-01,IMPERIAL,"IMPERIAL, PASEO",BiciMAD,24,-3.717145,40.407424,"IMPERIAL, PASEO, 20"
261,270,247,"441238,82","4476643,99",44194,7,CHAMBERi,07-05,RiOS ROSAS,"ZURBANO, CALLE, DE",BiciMAD,24,-3.692843,40.438367,"ZURBANO, CALLE, DE, 90"
262,265,257,"438063,25","4476718,06",44194,9,MONCLOA-ARAVACA,09-03,CIUDAD UNIVERSITARIA,"JUAN DE HERRERA, AVENIDA, DE",BiciMAD,24,-3.730290,40.438804,"JUAN DE HERRERA, AVENIDA, DE, 1"
263,267,259,"438344,78","4477338,89",44194,9,MONCLOA-ARAVACA,09-03,CIUDAD UNIVERSITARIA,"RAMON Y CAJAL, PLAZA, DE",BiciMAD,24,-3.727031,40.444418,"RAMON Y CAJAL, PLAZA, DE, S/N"

## Join Tablas

### Estaciones - Demografia

In [10]:
df_EstacionDemog = pd.merge(data_Stations, data_Demografia, how='left', left_on=['Distrito', 'Barrio'], right_on=['Distrito', 'Barrio'])

In [11]:
df_EstacionDemog

,Id_Estacion,Nro_Estacion,Gis_X,Gis_Y,Fec_Alta,Distrito,Distrito_Nombre_x,Barrio,Barrio_Nombre_x,Calle,...,Plazas,Longitud,Latitud,Direccion,Distrito_Nombre_y,Barrio_Nombre_y,Tasa_Paro,Renta_Media_Persona,Renta_Media_Hogar,Poblacion
0,1,001 a,"440443,61","4474290,65",43803,1,CENTRO,01-06,SOL,"ALCALA, CALLE, DE",...,30,-3.701998,40.417111,"ALCALA, CALLE, DE, 2",Centro,Sol,"4,309681391","17550,00279","35056,88536",7665.0
1,6,5,"440447,06","4475539,6",41813,1,CENTRO,01-04,JUSTICIA,"FUENCARRAL, CALLE, DE",...,27,-3.702074,40.428362,"FUENCARRAL, CALLE, DE, 106",Centro,Justicia,"4,374558304","23759,66607","48202,79271",18072.0
2,15,14,"439486,2","4475284,13",44045,9,MONCLOA-ARAVACA,09-02,ARGUELLES,"VENTURA RODRIGUEZ, CALLE, DE",...,24,-3.713377,40.425991,"VENTURA RODRIGUEZ, CALLE, DE, 1",Moncloa - Aravaca,Argï¿½elles,"3,232475099","23728,79261","55125,0693",24556.0
3,16,15,"439996,77","4475313,59",43881,1,CENTRO,01-05,UNIVERSIDAD,"NORTE, CALLE, DEL",...,21,-3.707361,40.426294,"NORTE, CALLE, DEL, 10",Centro,Universidad,"4,283483014","17882,22351","35344,22565",33434.0
4,21,020 ampliacion,"441014,52","4474516,49",43291,1,CENTRO,01-04,JUSTICIA,"ALCALA, CALLE, DE",...,6,-3.695290,40.419186,"ALCALA, CALLE, DE, 49",Centro,Justicia,"4,374558304","23759,66607","48202,79271",18072.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,238,230,"444952,82","4477207,59",44181,15,CIUDAD LINEAL,15-05,SAN PASCUAL,"CARLOTA O'NEILL, CALLE, DE",...,24,-3.649103,40.443699,"CARLOTA O'NEILL, CALLE, DE, 32",Ciudad Lineal,San Pascual,"5,569502557","18356,01895","44222,13383",18162.0
260,244,236,"439149,84","4473225,71",44181,2,ARGANZUELA,02-01,IMPERIAL,"IMPERIAL, PASEO",...,24,-3.717145,40.407424,"IMPERIAL, PASEO, 20",Arganzuela,Imperial,"4,942606347","19840,6766","46879,39677",22982.0
261,270,247,"441238,82","4476643,99",44194,7,CHAMBERi,07-05,RiOS ROSAS,"ZURBANO, CALLE, DE",...,24,-3.692843,40.438367,"ZURBANO, CALLE, DE, 90",Chamberi,Rios Rosas,"3,280891327","23755,96593","53843,75673",27671.0
262,265,257,"438063,25","4476718,06",44194,9,MONCLOA-ARAVACA,09-03,CIUDAD UNIVERSITARIA,"JUAN DE HERRERA, AVENIDA, DE",...,24,-3.730290,40.438804,"JUAN DE HERRERA, AVENIDA, DE, 1",Moncloa - Aravaca,Ciudad Universitaria,"3,334334635","25704,89888","65329,88289",16394.0
263,267,259,"438344,78","4477338,89",44194,9,MONCLOA-ARAVACA,09-03,CIUDAD UNIVERSITARIA,"RAMON Y CAJAL, PLAZA, DE",...,24,-3.727031,40.444418,"RAMON Y CAJAL, PLAZA, DE, S/N",Moncloa - Aravaca,Ciudad Universitaria,"3,334334635","25704,89888","65329,88289",16394.0

In [12]:
df_EstacionDemog.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 264 entries, 0 to 263
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id_Estacion          264 non-null    int64
 1   Nro_Estacion         264 non-null    object
 2   Gis_X                264 non-null    object
 3   Gis_Y                264 non-null    object
 4   Fec_Alta             264 non-null    int64
 5   Distrito             264 non-null    int64
 6   Distrito_Nombre_x    264 non-null    object
 7   Barrio               264 non-null    object
 8   Barrio_Nombre_x      264 non-null    object
 9   Calle                264 non-null    object
 10  Tipo_Reserva         264 non-null    object
 11  Plazas               264 non-null    int64
 12  Longitud             264 non-null    float64
 13  Latitud              264 non-null    float64
 14  Direccion            264 non-null    object
 15  Distrito_Nombre_y    262 non-null    object
 16  Barrio_Nombre_y      262 non-null    object
 17  Tasa_Paro            262 non-null    object
 18  Renta_Media_Persona  262 non-null    object
 19  Renta_Media_Hogar    262 non-null    object
 20  Poblacion            262 non-null    float64
dtypes: float64(3), int64(4), object(14)
memory usage: 45.4+ KB

In [13]:
df_EstacionDemog = df_EstacionDemog.drop(columns=['Distrito_Nombre_y', 'Barrio_Nombre_y'])
df_EstacionDemog.rename(columns = {'Id_Estacion':'ESTACION'}, inplace = True)

In [14]:
df_EstacionDemog

,ESTACION,Nro_Estacion,Gis_X,Gis_Y,Fec_Alta,Distrito,Distrito_Nombre_x,Barrio,Barrio_Nombre_x,Calle,Tipo_Reserva,Plazas,Longitud,Latitud,Direccion,Tasa_Paro,Renta_Media_Persona,Renta_Media_Hogar,Poblacion
0,1,001 a,"440443,61","4474290,65",43803,1,CENTRO,01-06,SOL,"ALCALA, CALLE, DE",BiciMAD,30,-3.701998,40.417111,"ALCALA, CALLE, DE, 2","4,309681391","17550,00279","35056,88536",7665.0
1,6,5,"440447,06","4475539,6",41813,1,CENTRO,01-04,JUSTICIA,"FUENCARRAL, CALLE, DE",BiciMAD,27,-3.702074,40.428362,"FUENCARRAL, CALLE, DE, 106","4,374558304","23759,66607","48202,79271",18072.0
2,15,14,"439486,2","4475284,13",44045,9,MONCLOA-ARAVACA,09-02,ARGUELLES,"VENTURA RODRIGUEZ, CALLE, DE",BiciMAD,24,-3.713377,40.425991,"VENTURA RODRIGUEZ, CALLE, DE, 1","3,232475099","23728,79261","55125,0693",24556.0
3,16,15,"439996,77","4475313,59",43881,1,CENTRO,01-05,UNIVERSIDAD,"NORTE, CALLE, DEL",BiciMAD,21,-3.707361,40.426294,"NORTE, CALLE, DEL, 10","4,283483014","17882,22351","35344,22565",33434.0
4,21,020 ampliacion,"441014,52","4474516,49",43291,1,CENTRO,01-04,JUSTICIA,"ALCALA, CALLE, DE",BiciMAD,6,-3.695290,40.419186,"ALCALA, CALLE, DE, 49","4,374558304","23759,66607","48202,79271",18072.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,238,230,"444952,82","4477207,59",44181,15,CIUDAD LINEAL,15-05,SAN PASCUAL,"CARLOTA O'NEILL, CALLE, DE",BiciMAD,24,-3.649103,40.443699,"CARLOTA O'NEILL, CALLE, DE, 32","5,569502557","18356,01895","44222,13383",18162.0
260,244,236,"439149,84","4473225,71",44181,2,ARGANZUELA,02-01,IMPERIAL,"IMPERIAL, PASEO",BiciMAD,24,-3.717145,40.407424,"IMPERIAL, PASEO, 20","4,942606347","19840,6766","46879,39677",22982.0
261,270,247,"441238,82","4476643,99",44194,7,CHAMBERi,07-05,RiOS ROSAS,"ZURBANO, CALLE, DE",BiciMAD,24,-3.692843,40.438367,"ZURBANO, CALLE, DE, 90","3,280891327","23755,96593","53843,75673",27671.0
262,265,257,"438063,25","4476718,06",44194,9,MONCLOA-ARAVACA,09-03,CIUDAD UNIVERSITARIA,"JUAN DE HERRERA, AVENIDA, DE",BiciMAD,24,-3.730290,40.438804,"JUAN DE HERRERA, AVENIDA, DE, 1","3,334334635","25704,89888","65329,88289",16394.0
263,267,259,"438344,78","4477338,89",44194,9,MONCLOA-ARAVACA,09-03,CIUDAD UNIVERSITARIA,"RAMON Y CAJAL, PLAZA, DE",BiciMAD,24,-3.727031,40.444418,"RAMON Y CAJAL, PLAZA, DE, S/N","3,334334635","25704,89888","65329,88289",16394.0

#

### VIAJES PROMEDIO POR ESTACION

In [15]:
data_Tracks

,ESTACION,ANIO,MES,DIA,HORA,FECHA,DIA_SEMANA,AM_PM,TEMPORADA,TEMPORADA_NUM,...,Es_FinSemana,TEMPERATURA,VIENTO,PRESION,HUMEDAD,PRECIPITACION_1h,PRECIPITACION_3h,DESC_TIEMPO,DESC_TIEMPO_detalle,DEMANDA
0,6,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,0,6.63,5.7,1031,56,0.0,0.0,Clear,sky is clear,2
1,8,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,0,6.63,5.7,1031,56,0.0,0.0,Clear,sky is clear,3
2,9,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,0,6.63,5.7,1031,56,0.0,0.0,Clear,sky is clear,5
3,12,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,0,6.63,5.7,1031,56,0.0,0.0,Clear,sky is clear,1
4,15,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,0,6.63,5.7,1031,56,0.0,0.0,Clear,sky is clear,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2142243,175,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,1,9.60,6.2,1015,69,0.0,0.0,Clouds,few clouds,6
2142244,178,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,1,9.60,6.2,1015,69,0.0,0.0,Clouds,few clouds,1
2142245,179,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,1,9.60,6.2,1015,69,0.0,0.0,Clouds,few clouds,1
2142246,198,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,1,9.60,6.2,1015,69,0.0,0.0,Clouds,few clouds,3
2142247,215,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,1,9.60,6.2,1015,69,0.0,0.0,Clouds,few clouds,1

In [16]:
#Creando columna ANIOMES
data_Tracks['ANIOMES'] = data_Tracks['ANIO'].astype(str)+("0"+data_Tracks['MES'].astype(str)).str[-2:]
data_Tracks

,ESTACION,ANIO,MES,DIA,HORA,FECHA,DIA_SEMANA,AM_PM,TEMPORADA,TEMPORADA_NUM,...,TEMPERATURA,VIENTO,PRESION,HUMEDAD,PRECIPITACION_1h,PRECIPITACION_3h,DESC_TIEMPO,DESC_TIEMPO_detalle,DEMANDA,ANIOMES
0,6,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,6.63,5.7,1031,56,0.0,0.0,Clear,sky is clear,2,201801
1,8,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,6.63,5.7,1031,56,0.0,0.0,Clear,sky is clear,3,201801
2,9,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,6.63,5.7,1031,56,0.0,0.0,Clear,sky is clear,5,201801
3,12,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,6.63,5.7,1031,56,0.0,0.0,Clear,sky is clear,1,201801
4,15,2018,1,1,0,2018-01-01 00:00:00,2,AM,INVIERNO,1,...,6.63,5.7,1031,56,0.0,0.0,Clear,sky is clear,1,201801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2142243,175,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,9.60,6.2,1015,69,0.0,0.0,Clouds,few clouds,6,202002
2142244,178,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,9.60,6.2,1015,69,0.0,0.0,Clouds,few clouds,1,202002
2142245,179,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,9.60,6.2,1015,69,0.0,0.0,Clouds,few clouds,1,202002
2142246,198,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,9.60,6.2,1015,69,0.0,0.0,Clouds,few clouds,3,202002
2142247,215,2020,2,29,23,2020-02-29 23:00:00,7,PM,INVIERNO,1,...,9.60,6.2,1015,69,0.0,0.0,Clouds,few clouds,1,202002

In [17]:
estacion_meses= data_Tracks.groupby('ESTACION').ANIOMES.nunique()
estacion_meses

ESTACION
1      26
2      22
3      26
4      26
5      26
       ..
193     7
195     8
198     7
199     7
215     7
Name: ANIOMES, Length: 179, dtype: int64

In [18]:
estacion_tracks = data_Tracks.groupby('ESTACION').agg(DEMANDA=('DEMANDA', 'sum'))
estacion_tracks

          DEMANDA
ESTACION
1           63706
2           28020
3           52275
4           35135
5           32312
...           ...
193          4886
195          6734
198          7137
199          6078
215          4857

[179 rows x 1 columns]

In [19]:
estacion = pd.merge(estacion_tracks, estacion_meses, how='left', left_on='ESTACION', right_on='ESTACION')
estacion['DEMANDA_RATIO'] = estacion['DEMANDA']/estacion['ANIOMES']
estacion.sort_values('DEMANDA_RATIO')

          DEMANDA  ANIOMES  DEMANDA_RATIO
ESTACION
28           8824       26     339.384615
191          3871        8     483.875000
29          13224       26     508.615385
119         13451       26     517.346154
173         14404       26     554.000000
...           ...      ...            ...
90          91830       26    3531.923077
43          92060       26    3540.769231
57         101946       26    3921.000000
175        102974       26    3960.538462
163        106389       26    4091.884615

[179 rows x 3 columns]

### JOIN DE PROMEDIO ESTACIONES CON DEMOGRAFIA

In [20]:
df_FinalCluster = pd.merge(estacion, df_EstacionDemog, how='left', left_on='ESTACION', right_on='ESTACION')

# ELIMINACION DE COLUMNAS DUPLICADAS O Â¿MENOS IMPORTANTES?

df_FinalCluster = df_FinalCluster.drop(columns=['Nro_Estacion', 'Fec_Alta', 'Distrito_Nombre_x', 'Barrio_Nombre_x', 'Calle', 'Direccion', 'Tipo_Reserva', 'DEMANDA', 'ANIOMES'])
df_FinalCluster

,ESTACION,DEMANDA_RATIO,Gis_X,Gis_Y,Distrito,Barrio,Plazas,Longitud,Latitud,Tasa_Paro,Renta_Media_Persona,Renta_Media_Hogar,Poblacion
0,1,2450.230769,"440443,61","4474290,65",1,01-06,30,-3.701998,40.417111,"4,309681391","17550,00279","35056,88536",7665.0
1,2,1273.636364,"440480,56","4474301,74",1,01-06,30,-3.701564,40.417213,"4,309681391","17550,00279","35056,88536",7665.0
2,3,2010.576923,"440134,83","4474678,23",1,01-05,24,-3.705674,40.420580,"4,283483014","17882,22351","35344,22565",33434.0
3,4,1351.346154,"440012,98","4475760,68",7,07-02,18,-3.707212,40.430322,"3,985756232","21397,21963","46882,35448",24770.0
4,5,1242.769231,"440396,4","4475565,36",1,01-05,24,-3.702674,40.428590,"4,283483014","17882,22351","35344,22565",33434.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,193,698.000000,"443883,24","4475147,45",4,04-03,24,-3.661533,40.425068,"4,396494587","19450,51977","44221,14512",21303.0
175,195,841.750000,"443691,7","4475711,36",4,04-03,24,-3.663841,40.430135,"4,396494587","19450,51977","44221,14512",21303.0
176,198,1019.571429,"442030,24","4476194,79",4,04-06,24,-3.683471,40.434376,"2,169642857","30741,05434","81379,7694",17330.0
177,199,868.285714,"442830,66","4476215,36",4,04-04,18,-3.674037,40.434617,"3,819712511","21251,03416","50063,95065",42445.0
178,215,693.857143,"440874,02","4479384,51",6,06-05,18,-3.697399,40.463029,"5,899886936","12254,49279","30163,55029",26607.0

In [21]:
df_FinalCluster.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 179 entries, 0 to 178
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ESTACION             179 non-null    int64
 1   DEMANDA_RATIO        179 non-null    float64
 2   Gis_X                179 non-null    object
 3   Gis_Y                179 non-null    object
 4   Distrito             179 non-null    int64
 5   Barrio               179 non-null    object
 6   Plazas               179 non-null    int64
 7   Longitud             179 non-null    float64
 8   Latitud              179 non-null    float64
 9   Tasa_Paro            179 non-null    object
 10  Renta_Media_Persona  179 non-null    object
 11  Renta_Media_Hogar    179 non-null    object
 12  Poblacion            179 non-null    float64
dtypes: float64(4), int64(3), object(6)
memory usage: 19.6+ KB

In [22]:
# Cambios de tipos de datos para variables numÃ©ricas

df_FinalCluster['Gis_X'] = df_FinalCluster.Gis_X.astype(str)
df_FinalCluster['Gis_X'] = [x.replace(',', '.') for x in df_FinalCluster['Gis_X']]
df_FinalCluster['Gis_X'] = df_FinalCluster.Gis_X.astype(float)

df_FinalCluster['Gis_Y'] = df_FinalCluster.Gis_Y.astype(str)
df_FinalCluster['Gis_Y'] = [x.replace(',', '.') for x in df_FinalCluster['Gis_Y']]
df_FinalCluster['Gis_Y'] = df_FinalCluster.Gis_Y.astype(float)

#df_FinalCluster['Finca'] = df_FinalCluster.Finca.astype('string')
df_FinalCluster['Barrio'] = df_FinalCluster.Barrio.astype('string')

df_FinalCluster['Tasa_Paro'] = df_FinalCluster.Tasa_Paro.astype(str)
df_FinalCluster['Tasa_Paro'] = [x.replace(',', '.') for x in df_FinalCluster['Tasa_Paro']]
df_FinalCluster['Tasa_Paro'] = df_FinalCluster.Tasa_Paro.astype(float)

df_FinalCluster['Renta_Media_Persona'] = df_FinalCluster.Renta_Media_Persona.astype(str)
df_FinalCluster['Renta_Media_Persona'] = [x.replace(',', '.') for x in df_FinalCluster['Renta_Media_Persona']]
df_FinalCluster['Renta_Media_Persona'] = df_FinalCluster.Renta_Media_Persona.astype(float)

df_FinalCluster['Renta_Media_Hogar'] = df_FinalCluster.Renta_Media_Hogar.astype(str)
df_FinalCluster['Renta_Media_Hogar'] = [x.replace(',', '.') for x in df_FinalCluster['Renta_Media_Hogar']]
df_FinalCluster['Renta_Media_Hogar'] = df_FinalCluster.Renta_Media_Hogar.astype(float)

df_FinalCluster['Gis_X'] = df_FinalCluster.Gis_X.astype(str)
df_FinalCluster['Gis_X'] = [x.replace(',', '.') for x in df_FinalCluster['Gis_X']]
df_FinalCluster['Gis_X'] = df_FinalCluster.Gis_X.astype(float)

df_FinalCluster['Gis_Y'] = df_FinalCluster.Gis_Y.astype(str)
df_FinalCluster['Gis_Y'] = [x.replace(',', '.') for x in df_FinalCluster['Gis_Y']]
df_FinalCluster['Gis_Y'] = df_FinalCluster.Gis_Y.astype(float)


df_FinalCluster.info()
df_FinalCluster

<class 'pandas.core.frame.DataFrame'>
Int64Index: 179 entries, 0 to 178
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ESTACION             179 non-null    int64
 1   DEMANDA_RATIO        179 non-null    float64
 2   Gis_X                179 non-null    float64
 3   Gis_Y                179 non-null    float64
 4   Distrito             179 non-null    int64
 5   Barrio               179 non-null    string
 6   Plazas               179 non-null    int64
 7   Longitud             179 non-null    float64
 8   Latitud              179 non-null    float64
 9   Tasa_Paro            179 non-null    float64
 10  Renta_Media_Persona  179 non-null    float64
 11  Renta_Media_Hogar    179 non-null    float64
 12  Poblacion            179 non-null    float64
dtypes: float64(9), int64(3), string(1)
memory usage: 19.6 KB

,ESTACION,DEMANDA_RATIO,Gis_X,Gis_Y,Distrito,Barrio,Plazas,Longitud,Latitud,Tasa_Paro,Renta_Media_Persona,Renta_Media_Hogar,Poblacion
0,1,2450.230769,440443.61,4474290.65,1,01-06,30,-3.701998,40.417111,4.309681,17550.00279,35056.88536,7665.0
1,2,1273.636364,440480.56,4474301.74,1,01-06,30,-3.701564,40.417213,4.309681,17550.00279,35056.88536,7665.0
2,3,2010.576923,440134.83,4474678.23,1,01-05,24,-3.705674,40.420580,4.283483,17882.22351,35344.22565,33434.0
3,4,1351.346154,440012.98,4475760.68,7,07-02,18,-3.707212,40.430322,3.985756,21397.21963,46882.35448,24770.0
4,5,1242.769231,440396.40,4475565.36,1,01-05,24,-3.702674,40.428590,4.283483,17882.22351,35344.22565,33434.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,193,698.000000,443883.24,4475147.45,4,04-03,24,-3.661533,40.425068,4.396495,19450.51977,44221.14512,21303.0
175,195,841.750000,443691.70,4475711.36,4,04-03,24,-3.663841,40.430135,4.396495,19450.51977,44221.14512,21303.0
176,198,1019.571429,442030.24,4476194.79,4,04-06,24,-3.683471,40.434376,2.169643,30741.05434,81379.76940,17330.0
177,199,868.285714,442830.66,4476215.36,4,04-04,18,-3.674037,40.434617,3.819713,21251.03416,50063.95065,42445.0
178,215,693.857143,440874.02,4479384.51,6,06-05,18,-3.697399,40.463029,5.899887,12254.49279,30163.55029,26607.0

In [23]:
df_FinalCluster.to_csv('df_FinalCluster.csv', index=False)